<div class="container" style="text-align: center">
    <img src="../../../assets/Logo.png" allowfullscreen="" style="width: 15%; height: 15%;" >
    
    <section>
        <div class="row bg-dark justify-content-md-center" style=" margin: 0 auto;">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item">
                    <iframe src="https://www.google.com/maps/embed?pb=!4v1639555382734!6m8!1m7!1sCAoSLEFGMVFpcFBPRE1DbWFqUGk1ekVUVHlOWU5qcWlibXdHUmN0a2ktd1ZBeFgy!2m2!1d21.8806534!2d-102.2754974!3f54.46321033137673!4f-70.09429702151034!5f0.7125204557715605" class="d-block w-100" width="600" height="450" align="center" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
                <div class="carousel-item active">
                    <img src="../../../assets/Banner3.jpg" width="600" height="450" style="border:0;" allowfullscreen="" class="d-block w-100" loading="lazy">
                </div>
                <div class="carousel-item">
                    <img src="../../../assets/Banner1.jpg" width="600" height="450" style="border:0;" allowfullscreen="" class="d-block w-100" loading="lazy">
                </div>
                <div class="carousel-item">
                  <img src="../../../assets/banner2.png" class="d-block w-100" width="600" height="450" alt="Falla">
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"  data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"  data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
        </div>
    </section>

    <section>
        <img src="../../../assets/Publicidad.jpg" class="d-block w-100" style="margin-top: 10px;">
    </section>
    <section>
        <img src="../../../assets/navidad.jpg" class="d-block w-100" style="margin-top: 10px;">
    </section>
</div>