<nav class="navbar navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand mx-auto">Impulsora del Deportivo Necaxa</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end menu" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h4 class="offcanvas-title" id="offcanvasNavbarLabel">Menú principal</h4>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1">
          <li class="nav-item">
            <a class="nav-link fs-4 ps-3 text-danger">> Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fs-4 ps-3 text-danger">> Sucursales</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fs-4 ps-3 text-danger">> Almacén</a>
          </li>
        </ul>
        <hr>
        <div class="d-flex">
          <input class="form-control me-2" type="search" placeholder="¿Buscabas algo?" aria-label="Search">
          <button class="btn btn-danger">Buscar</button>
        </div>
      </div>
    </div>
  </div>
</nav>

<div class="py-4" style="height: 100%;">
  <router-outlet></router-outlet>
</div>

<!-- <footer class="fs-4 text-light text-center sticky-bottom">
  &copy; Deportivo Necaxa 2021
</footer> -->